/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(
    to right,
    rgb(255, 111, 224),
    rgb(148, 169, 214)
  ); */
}
